$primary-color: #2f78a9;
$secondary-color: #f0f9ff;

html,
body {

  font-size:16px;

}

body {
  padding-bottom:3em !important;
}

.button {
  background-color: #268cd9 !important;
  text-transform: uppercase;

  &:hover {
    background-color: #1d79be !important;
  }
}

header {
  background-color: $primary-color;

  h1 {
    color:#FFFFFF;
    font-weight:400 !important;
    text-align:center;
    padding:1.5em 0;
    font-size:320%;
  }
}

.form-group {

  margin-bottom:2em;

  label {
    font-weight:400;
    font-size:140%;
    line-height:1.2em;
  }

  p {

    @media only screen and (min-width: 40.063em) {
      min-height:120px;
    }

  }

}

.has-error {

  label {
    color: #c70000 !important;
  }

  input {

    border-color: #c70000 !important;

  }

}

.link {

  margin-bottom:3em;

  > div {

    background-color: $secondary-color;
    color: $primary-color;
    padding:3em auto !important;

    h2 {
      font-weight:400;
      color:$primary-color;
    }

    input[readonly] {
      background-color: #FFFFFF;
    }

  }

}

footer {
  background-color: #242e36;

  h3 {

    color:#FFFFFF;
    font-weight:400;
    padding-top:2em;
    padding-bottom:0em;

    &:nth-child(2) {
      color:#ee7311 !important;
      padding-top:0em !important;
      padding-bottom:0.8em !important;
    }

    span {
      font-style: italic;
    }

  }

  .button {
    margin-bottom:3em;
  }
}
