<div class="container">

  <header>
    <div class="row">
      <div class="small-12 columns">
        <h1>Track Your Marketing Campaigns and Links with the Url Builder</h1>
      </div>
    </div>
  </header>

  <section class="intro">
    <div class="row">
      <div class="small-12 columns">
        <p>
          By adding some extra data to your external links, you’ll know when people come
          from those links. Most analytics tools (like KISSmetrics and Google Analytics)
          track those links automatically and will tell you how many customers you get
          from each campaign. Fill out the form to get your link built.
        </p>
      </div>
    </div>
  </section>

  <section class="subheader">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="text-center">Fill out the form to build your link.</h2>
      </div>
    </div>
  </section>

  <section class="form" id="url-builder">
    <div class="text-center">Loading <i class="fa fa-spinner fa-spin"></i></div>
  </section>

  <section class="link">
    <div class="row" id="link">

    </div>
  </section>

  <footer>
    <div class="row">
      <div class="small-12 columns text-center">
        <h3>Google Analytics tells you <span>what's</span> happening.</h3>
        <h3>KISSmetrics tells you <span>who's</span> doing it.</h3>
        <a href="" class="button">Start Your 14 Day Free Trial</a>
      </div>
    </div>
  </footer>

  <div>

  </div>

</div>
