<div class="container">

  <header>
    <div class="row">
      <div class="small-12 columns text-center">
        <img src="kissmetrics.png" />
        <h1>Track Your Marketing Campaigns and Links with the URL Builder</h1>
      </div>
    </div>
  </header>

  <section class="intro">
    <div class="row">
      <div class="small-12 medium-10 medium-centered columns">
        <p>
          By adding some extra data to your external links, you’ll know when people come
          from those links. Most analytics tools (like KISSmetrics and Google Analytics)
          track those links automatically and will tell you how many customers you get
          from each campaign. Fill out the form to get your link&nbsp;built.
        </p>
      </div>
    </div>
  </section>

  <hr />

  <section class="subheader">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="text-center">Fill out the form to build your link.</h2>
      </div>
    </div>
  </section>

  <section class="form" id="url-builder">
    <div class="text-center">Loading <i class="fa fa-spinner fa-spin"></i></div>
  </section>

  <section class="link">
    <div class="row" id="link">

    </div>
  </section>

  <footer>
    <div class="row">
      <div class="small-12 columns text-center">
        <h3>Google Analytics tells you <span>what's</span>&nbsp;happening.</h3>
        <h3>KISSmetrics tells you <span>who's</span> doing&nbsp;it.</h3>
        <a href="https://accounts.google.com/AccountChooser?service=lso&continue=https%3A%2F%2Faccounts.google.com%2Fo%2Foauth2%2Fauth%3Fscope%3Dhttps%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email%2Bhttps%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%2Bhttps%3A%2F%2Fwww.googleapis.com%2Fauth%2Fanalytics.readonly%26response_type%3Dcode%26redirect_uri%3Dhttps%3A%2F%2Fwww.kissmetrics.com%2Fauth%2Fgoogle%2Fcallback%26access_type%3Doffline%26state%3D040e95bba6b64c7b83a9edfb3088fb78b192642127944c4c%26prompt%3Dselect_account%2Bconsent%26client_id%3D419483655021-3b59o62ujv5u1rusaj3ibgmtnr5f7f75.apps.googleusercontent.com%26hl%3Den%26from_login%3D1%26as%3D34af29e38c1593c5&btmpl=authsub&hl=en" class="button large radius">Start Your 14 Day Free Trial</a>
      </div>
    </div>
  </footer>

  <div>

  </div>

</div>
