<div class="container">

  <header>
    <div class="row">
      <div class="small-12 columns">
        <h1>Track Your Marketing Campaigns and Links with the Url Builder</h1>'
      </div>
    </div>
  </header>

  <section class="intro">
    <div class="row">
      <div class="small-12 columns">
        <p>
          By adding some extra data to your external links, you’ll know when people come
          from those links. Most analytics tools (like KISSmetrics and Google Analytics)
          track those links automatically and will tell you how many customers you get
          from each campaign. Fill out the form to get your link built.
        </p>
      </div>
    </div>
  </section>

  <section class="subheader">
    <div class="row">
      <div class="small-12 columns">
        <h2>Fill out the form to build your link.</h2>
      </div>
    </div>
  </section>

  <section class="form">
    <div class="row">
      <div class="small-12 large-6 columns">
        <>
      </div>
      <div class="small-12 large-6 columns">
        <>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-6 columns">
        <>
      </div>
      <div class="small-12 large-6 columns">
        <>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-6 columns">
        <>
      </div>
      <div class="small-12 large-6 columns">
        <>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns text-right">
        <button type="submit">Build My Link!</button>
      </div>
  </section>

  <div id="url-builder">
    <p>Loading <i class="fa fa-spinner fa-spin"></i></p>
  </div>

</div>
